@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:200,300,400,500,600,700,800'); /* Tschuldigung. No italic style available. */


.customfont {
    font-family: 'Mukta Vaani', sans-serif;
}

.ExtraLight {
  font-weight: 200;
}

.Light {
  font-weight: 300;
}

.Regular {
  font-weight: 400;
}

.Medium {
  font-weight: 500;
}

.SemiBold {
  font-weight: 600;
}

.Bold {
  font-weight: 700;
}

.ExtraBold {
  font-weight: 800;
}